@{
    ViewData["Title"] = "Bem Vindo Aluno(a)";
}

<div class="text-center">
    <p>Aluno Adicionado com sucesso!</p>
    <a class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Index">Voltar </a>
</div>