<div class="text-center">

    <h1 class="display-4">Conteúdos Admnistrados</h1>
    <a href="https://www.google.com.br/">Google</a>
    <p>*ASPNET MVC</p>
    <p>*MOCAGEM DE DADOS</p>
    <p>*BOOTSTRAP</p>
    <p>*CHAMADA DE API EXTERNA</p>
    <p>*CONEXÃO COM BANCO DE DADOS SQL (CONECTION STRING)</p>
    <p>*ENTITY FRAMEWORK</p>
    <p>*CRUDE</p>

</div>